body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color4);
}

.output {
    background-color: white;
    width: 100%;
    height: 100%;
}

.container,
.nav {
    display: flex;
}

.container {
    height: calc(100vh - 50px);
}

.left,
.html,
.css,
.js,
.h-top,
.c-top,
.j-top,
.nav {
    background-color: var(--color4);
}

.right {
    position: relative;
    width: 30vw;
    max-width: 500px;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.html,
.css,
.js {
    padding: 20px;
    border: 4px solid var(--color3);
    border-top: none;
    flex: 1;
    color: var(--yellow);
    overflow-y: scroll;
    outline: none;
}

.html::-webkit-scrollbar,
.css::-webkit-scrollbar,
.js::-webkit-scrollbar {
    width: var(--scrollWidth);
}

.html::-webkit-scrollbar-track,
.css::-webkit-scrollbar-track,
.js::-webkit-scrollbar-track {
    background-color: var(--scrollColor);
}

.html::-webkit-scrollbar-thumb,
.css::-webkit-scrollbar-thumb,
.js::-webkit-scrollbar-thumb {
    box-shadow: var(--scroll-box-shadow);
}

.left {
    flex: 1;
}

.h-top,
.c-top,
.j-top {
    height: 5vh;
    width: 100%;
    color: var(--color2);
    padding: 14px;
    border: 2px solid var(--color3);
    display: flex;
    align-items: center;
}

.dragger {
    background-color: var(--color3);
    height: 100%;
    width: 5px;
    position: absolute;
    top: 0;
    cursor: col-resize;
}
